@model IEnumerable<LuckySpin.ViewModels.SpinItViewModel>
@{
    Layout = "_Layout";
    int row = 0;
    string className;
}
<h1>Out of Luck</h1>
<table>
    <thead><tr><th>Spin #</th><th>Result</th></tr></thead>
    <tbody>
        <!-- TODO: Use the ViewModel-->
        @foreach (LuckySpin.ViewModels.SpinItViewModel spin in @Model)
        {
            row += 1;
            className = (spin.Winning) ? "winner" : "";
            <tr class="@className">
                <td>@row</td>
                <td>@spin.Winning</td>
            </tr>
        }
    </tbody>
</table>
<a href="/Spinner/Index">Play Again</a>